.wrapper {
  padding: 10px; 
  display: flex;
  background:  #303960
;
}
.search{
   
  display: flex
}

.item{
  color: white;
  text-decoration: none;
  padding:5px;
}

/* .wrapper {
  margin-left: 22%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper > div {
  width: 35%;
  justify-content: center;
} */


.button {
  background-color: #F8B24F; 
  border: none;
  color: white;
  padding: 3px 20px;
  text-align: center;
  font-size: 16px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}